<div class="main-content animated fadeIn">
  <div class="container-fluid">
    <!-- PAGE HEADER 
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1>
            Formulário de Dados
          </h1>
          <p>
            Use este módulo para inserir os dados para calcular a numerologia. Os dados digitados já serão mostrados no painel a direita.
          </p>
        </div>
      </div>
      <!-- INFO BUTTON
      <a class="btn btn-info" href="#" role="button">Aprenda mais</a>
      <!-- INFO BUTTON
    </div>
    <!-- PAGE HEADER-->
    <div class="row">
      <!-- PAGE LEFT LAYOUT -->
      <div class="col-md-6">
        <!-- FORM -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header" data-background-color="orange">
                <h4 class="title">Formulário</h4>
                <p class="category">Insira as informações</p>
              </div>
              <div class="card-content">
                <form [formGroup]="mapaForm">
                  <!-- FULL NAME INPUT -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group label-floating" [ngClass]="{'has-success': mapaForm.controls['fullName'].touched&&mapaForm.controls['fullName'].valid}">
                        <label for="fullName" class="control-label">Nome Completo</label>
                        <input type="text" id="fullName" [formControl]="mapaForm.controls['fullName']" class="form-control" pattern="[a-zA-Z ]*"> {{mapaForm.controls['fullName'].valid}}
                        <span class="form-control-feedback">
                          <i *ngIf="mapaForm.controls['fullName'].valid" class="material-icons">done</i>
                          <i *ngIf="!mapaForm.controls['fullName'].valid" class="material-icons">clear</i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- FULL NAME INPUT -->
                  <div class="row">
                    <!-- BIRTHDAY INPUT - MASK CONFIGURED TO DD/MM/YYYY -->
                    <div class="col-md-6">
                      <div class="form-group label-floating" [ngClass]="{'has-success': mapaForm.controls['birthday'].valid, 'has-warning': mapaForm.controls['birthday'].touched&&mapaForm.controls['birthday'].invalid}">
                        <label for="birthday" class="control-label">Data de Nascimento</label>
                        <input type="text" id="birthday" [formControl]="mapaForm.controls['birthday']" class="form-control" mask="00/00/0000"> {{mapaForm.controls['birthday'].valid}}{{mapaForm.controls['birthday'].dirty}}{{mapaForm.controls['birthday'].touched}}
                        <span class="form-control-feedback">
                          <i *ngIf="mapaForm.controls['birthday'].valid" class="material-icons">done</i>
                          <i *ngIf="!mapaForm.controls['birthday'].valid" class="material-icons">clear</i>
                        </span>
                      </div>
                    </div>
                    <!-- BIRTHDAY INPUT -->
                    <!-- EMAIL INPUT -->
                    <div class="col-md-6">
                      <div class="form-group label-floating" [ngClass]="{'has-success': mapaForm.controls['email'].touched&&mapaForm.controls['email'].valid}">
                        <label for="email" class="control-label">Email (Opcional)</label>
                        <input id="email" [formControl]="mapaForm.controls['email']" class="form-control" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{1,}[.]{1}[a-zA-Z]{2,}"> {{mapaForm.controls['email'].valid}}
                        <span class="form-control-feedback">
                          <i *ngIf="mapaForm.controls['email'].valid" class="material-icons">done</i>
                          <i *ngIf="!mapaForm.controls['email'].valid" class="material-icons">clear</i>
                        </span>
                      </div>
                    </div>
                    <!-- EMAIL INPUT -->
                  </div>
                  <button type="reset" class="btn btn-danger" (click)="reset()" >Limpar</button>
                  <button type="submit" class="btn pull-right" [ngClass]="{'btn-success': mapaForm.valid, 'disabled': mapaForm.invalid}" (click)="validateDate()">Pronto</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>

        </div>
        <!-- FORM -->
      </div>
      <!-- PAGE LEFT LAYOUT -->
      <!-- PAGE RIGHT LAYOUT -->
      <div class="col-md-6">
        <!-- CHART -->
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">Gráfico de Proporções</h4>
            <p class="category">Dados atualizados em tempo real.</p>
          </div>
          <div class="card-content">
          </div>
          <div class="card-footer">
            <canvas id="myChart" class='img-responsive'></canvas>
          </div>
        </div>
        <!-- CHART -->
      </div>
    </div>
    <div class="row">
      <!-- PRE-RESUME -->
      <div class="col-md-3" *ngIf="showPreResume">
        <div class="card card-testimonial animated slideInRight">
          <div class="card-header" data-background-color="orange">
            {{this.mapaData.alma}}
          </div>
          <div class="card-content">
            <p>Alma</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="showPreResume">
        <div class="card card-testimonial animated slideInRight ">
          <div class="card-header" data-background-color="blue">
            {{this.mapaData.aparencia}}
          </div>
          <div class="card-content">
            <p>Aparência</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="showPreResume">
        <div class="card card-testimonial animated slideInRight">
          <div class="card-header" data-background-color="green">
            {{this.mapaData.destino}}
          </div>
          <div class="card-content">
            <p>Destino</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" *ngIf="this.mapaData.licaodevida">
        <div class="card card-testimonial animated slideInRight">
          <div class="card-header" data-background-color="green">
            {{this.mapaData.licaodevida}}
          </div>
          <div class="card-content">
            <p>Lição de Vida</p>
          </div>
        </div>
      </div>
    </div>
    <!-- PRE-RESUME -->
  </div>
  <!-- PAGE RIGHT LAYOUT -->
</div>