<div class="main-content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h1>
            Gerenciador de Textos
          </h1>
          <p>
            Use este módulo para editar os textos pré-definidos utilizados para a criação do relatório da numerologia.
          </p>
          <a class="btn btn-info" href="#" role="button">Aprenda mais</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <h4 class="title">Número da Alma</h4>
          </div>
          <div class="card-content">
            <p>
              O número da alma significa...
            </p>
            <div class="card-footer">
              <button class="btn pull-right" data-background-color="red" (click)="addAlma()">Add Alma</button>
              <button class="btn pull-right" data-background-color="orange" (click)="goToNumberDoc('Alma')">Go somewhere</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--
      <button class="btn btn-primary" (click)="addTodo()">ADD</button>
      <button class="btn btn-primary" (click)="showTodos()">SHOW</button>
-->
  </div>
</div>