<div class="main-content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h1>
            Gerenciador de Textos
          </h1>
          <p>
            Use este módulo para editar os textos pré-definidos utilizados para a criação do relatório da numerologia.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <a class="btn btn-info btn-block" href="#" role="button">Aprenda mais</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <app-card-awesome [title]="'Número da Alma'" [description]="' O número da Alma significa...'" [color]="'orange'" [btnText]="'Visualizar'"
          [btnAction]="'Alma'" (change)="action($event)"></app-card-awesome>
      </div>
      <div class="col-lg-6 col-md-12">
        <app-card-awesome [title]="'Número da Aparência'" [description]="' O número da Aparência significa...'" [color]="'blue'" [btnText]="'Visualizar'"
          [btnAction]="'Aparência'" (change)="action($event)"></app-card-awesome>
      </div>
      <div class="col-lg-6 col-md-12">
        <app-card-awesome [title]="'Número do Destino'" [description]="'O número do Destino significa...'" [color]="'green'" [btnText]="'Visualizar'"
          [btnAction]="'Destino'" (change)="action($event)"></app-card-awesome>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <button class="btn btn-primary" (click)="addDocument('Alma')">Adicionar Alma</button>
      </div>
      <div class="col-lg-4 col-md-12">
        <button class="btn btn-primary" (click)="addDocument('Aparência')">Adicionar Aparencia</button>
      </div>
      <div class="col-lg-4 col-md-12">
        <button class="btn btn-primary" (click)="addDocument('Destino')">Adicionar Destino</button>
      </div>
    </div>
  </div>
</div>