<div class="main-content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h1>
            Resumo dos Dados
          </h1>
          <p>
            Esse módulo apresenta o resumo da numerologia calculada. Você também pode editar os dados por aqui. Após finalizar as edições,
            clique para gerar o relatório final em .pdf.
          </p>
          <button class="btn btn-primary">click</button>
        </div>
      </div>
    </div>
  </div>
</div>